<!-- start custom footer snippets, customize with your own _includes/footer-custom.html file -->
<footer>
  <div class="footer-content">
    <div class="footer-links">
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
        <a href="/agents/">Agents</a>
        <a href="/zero-trust/">Zero Trust</a>
        <a href="/members/">Members</a>
        <a href="/about-us">About</a>
        <a href="#cta">Contact</a>
    </div>
    <div class="social-media">
        <a href="https://linkedin.com/in/josephwyoung"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.reddit.com/user/youngsecurity/"><i class="fab fa-reddit"></i></a>
        <a href="https://discord.gg/yj3xbJM6Ye"><i class="fab fa-discord"></i></a>
        <a href="https://x.com/Y0UNGSECURITY"><i class="fab fa-x"></i></a>
        <a href="https://github.com/youngsecurity"><i class="fab fa-github"></i></a>
        <a href="/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.youtube.com/@YoungSecurity"><i class="fab fa-youtube"></i></a>      
    </div>
    <p class="copyright">© 2025 <a href="https://youngsecurity.net">Young Security Inc</a>. All rights reserved.</p>
  </div>
</footer>
<!-- end custom footer snippets -->