<nav>
    <a href="/" {% if page.url == "/" %}style="color: green;"{% endif %}>
      Home |
    </a>
    <a href="https://youngsecurity.net" {% if page.url == "https://youngsecurity.net" %}style="color: green;"{% endif %}>
      Blog |
    </a>
    <a href="https://llm.youngsecurity.net" {% if page.url == "https://llm.youngsecurity.net" %}style="color: green;"{% endif %}>
      Agents |
    </a>
    <a href="/pentest-agent-system/" {% if page.url == "/pentest-agent-system/" %}style="color: green;"{% endif %}>
      Pentest Agent System |
    </a>
    <a href="/members/" {% if page.url == "/members/" %}style="color: green;"{% endif %}>
      Members |
    </a>
    <a href="/about-us/" {% if page.url == "/about-us/" %}style="color: green;"{% endif %}>
      About Us
    </a>
  </nav>