<div class="topnav" id="myTopnav">    
  {% for item in site.data.navigation %}
  <a href="{{ item.link }}" {% if page.url == item.link %} style="color: #0f0;"{% endif %}>{{ item.name }}</a>
  {% endfor %}  
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<script>
  /* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      /*document.getElementById("header").style.top = "0";*/
      document.getElementById("navbar").style.top = "0";
    } else {
      document.getElementById("navbar").style.top = "-91px";
    }
    prevScrollpos = currentScrollPos;
  }

  function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
          x.className += " responsive";
      } else {
          x.className = "topnav";
      }
  }
</script>
