<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script> var MemberSpace = window.MemberSpace || {"subdomain":"youngsecurity"}; (function(d){ var s = d.createElement("script"); s.src = "https://cdn.memberspace.com/scripts/widgets.js"; var e = d.getElementsByTagName("script")[0]; e.parentNode.insertBefore(s,e); }(document)); </script>
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">Young Security Inc</h1>
      <!--<h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>-->
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}      
      <p>For more information, send us an email at <a href="mailto:joe@youngsecurity.net">joe@youngsecurity.net</a></p>
      <p>Or give us a call at <a href="tel:18135150553">+1 (813) 515-0553</a></p>
      <span>
        <a href="https://linkedin.com/in/josephwyoung" target="_blank" rel="noopener" aria-label="LinkedIn" title="LinkedIn" style="text-decoration: none; margin-left: 5px; margin-right: 5px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0077B5" viewBox="0 0 24 24" role="img" style="vertical-align: middle;">
            <title>LinkedIn</title>
            <path d="M19 0h-14c-2.76 0-5 2.24-5 5v14c0 2.76 2.24 5 5 5h14c2.761 0 5-2.24 5-5v-14c0-2.76-2.239-5-5-5zm-11.75 20h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.786-1.75-1.75s.784-1.75 1.75-1.75 1.75.786 1.75 1.75-.784 1.75-1.75 1.75zm13.25 12.268h-3v-5.5c0-1.378-.028-3.152-1.929-3.152-1.932 0-2.229 1.51-2.229 3.052v5.6h-3v-11h2.883v1.5h.041c.402-.763 1.385-1.563 2.85-1.563 3.049 0 3.615 2.008 3.615 4.623v6.44z"/>
          </svg>
        </a>|
        <a href="https://github.com/youngsecurity" target="_blank" rel="noopener" aria-label="GitHub" title="GitHub" style="text-decoration: none; margin-left: 5px; margin-right: 5px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FFFFFF" viewBox="0 0 24 24" role="img" style="vertical-align: middle;">
            <title>GitHub</title>
            <path d="M12 .5C5.65.5.5 5.71.5 12.1c0 5.1 3.29 9.41 7.86 10.95.58.11.79-.26.79-.56 0-.28-.01-1.02-.01-2-3.2.7-3.88-1.56-3.88-1.56-.53-1.35-1.29-1.71-1.29-1.71-1.06-.73.08-.72.08-.72 1.17.08 1.79 1.2 1.79 1.2 1.04 1.82 2.73 1.3 3.4.99.11-.77.41-1.3.76-1.6-2.55-.3-5.23-1.31-5.23-5.82 0-1.29.46-2.35 1.2-3.17-.12-.3-.52-1.52.11-3.18 0 0 .97-.31 3.18 1.21a10.9 10.9 0 0 1 2.9-.39c.98.01 1.97.13 2.9.39 2.21-1.52 3.18-1.21 3.18-1.21.63 1.66.23 2.88.11 3.18.75.82 1.2 1.88 1.2 3.17 0 4.52-2.69 5.52-5.25 5.81.42.37.81 1.1.81 2.22 0 1.6-.01 2.9-.01 3.29 0 .31.21.68.8.56A10.6 10.6 0 0 0 23.5 12.1C23.5 5.71 18.35.5 12 .5z"/>
          </svg>
        </a>|
        <a href="https://x.com/Y0UNGSECURITY" target="_blank" rel="noopener" aria-label="X (Twitter)" title="X (Twitter)" style="text-decoration: none; margin-left: 5px; margin-right: 5px;">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" width="20" height="20" viewBox="0 0 24 24" role="img" style="vertical-align: middle;">
            <title>X (Twitter)</title>
            <path d="M20 3H4c-.6 0-1 .4-1 1v16c0 .5.4 1 1 1h16c.5 0 1-.5 1-1V4c0-.6-.5-1-1-1zm-3.1 13.8h-2.1l-2.8-4.1-2.9 4.1H7.1l3.7-5.1L7.3 7.1h2.1l2.6 3.7 2.6-3.7h2.2l-3.5 4.6 3.5 5.1z"/>
          </svg>
        </a>|
        <a href="https://www.reddit.com/user/youngsecurity/" target="_blank" rel="noopener" aria-label="Reddit" title="Reddit" style="text-decoration: none; margin-left: 5px; margin-right: 5px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FF4500" viewBox="0 0 24 24" role="img" style="vertical-align: middle;">
            <title>Reddit</title>
            <path d="M24 12c0-6.627-5.373-12-12-12S0 5.373 0 12c0 5.303 3.438 9.801 8.205 11.387.6.111.82-.261.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 17.555 3.633 17.3 3.633 17.3c-1.087-.744.083-.729.083-.729 1.204.085 1.838 1.236 1.838 1.236 1.07 1.835 2.807 1.305 3.492.998.108-.775.418-1.305.76-1.605-2.665-.304-5.466-1.332-5.466-5.931 0-1.31.469-2.381 1.236-3.221-.123-.303-.536-1.523.117-3.176 0 0 1.008-.322 3.301 1.23A11.47 11.47 0 0 1 12 6.844c1.02.005 2.046.138 3.004.404 2.291-1.552 3.297-1.23 3.297-1.23.655 1.653.242 2.873.12 3.176.77.84 1.235 1.911 1.235 3.221 0 4.61-2.807 5.625-5.48 5.922.43.371.812 1.102.812 2.222 0 1.606-.015 2.898-.015 3.293 0 .318.216.694.825.576C20.565 21.796 24 17.298 24 12z"/>
          </svg>
        </a>|
        <a href="https://www.youtube.com/@YoungSecurity" target="_blank" rel="noopener" aria-label="YouTube" title="YouTube" style="text-decoration: none; margin-left: 5px; margin-right: 5px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" role="img" fill="red" style="vertical-align: middle;">
            <title>YouTube</title>
            <path d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"/>
          </svg>
        </a>
      </span>
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page is copyright (c) 2024 <a href="https://youngsecurity.net">Young Security Inc</a>.</span>
      </footer>
    </main>
  </body>
</html>
